@font-face {
  font-family: Ubuntu-R;
  src: url("fonts/Ubuntu-R.ttf") format("truetype"); }
body {
  background-repeat: repeat-x;
  background-color: #6060D5;
  font-family: Ubuntu-R;
  font-size: 90%;
  margin: 0px;
  padding: 0px; }

a, h1, span.link {
  color: #9B000B; }

a:hover {
  text-decoration: underline; }

li {
  margin-bottom: 15px; }

hr {
  border: 1px solid black;
  margin-bottom: 20px; }

h1 {
  text-shadow: #999 6px 6px 6px;
  margin: 0px 0px 0px 0px;
  font-size: 250%; }

h2 {
  margin: 10px 0px 40px 180px;
  font-size: 180%; }

h3 {
  margin: 40px 0px 2px 0px; }

blockquote {
  background-color: #EEE;
  padding: 5px 10px;
  font-size: 90%; }

a, span.link {
  text-decoration: none; }

a img {
  border: none; }

div.clear {
  clear: both; }

.center {
  text-align: center; }

dt {
  font-weight: bold;
  font-style: italic;
  margin-top: 10px; }

div#container {
  max-width: 1200px;
  margin: 10px auto 0px auto; }

div#page {
  margin: 20px;
  border: 2px solid #00006f;
  background-color: white;
  min-height: 600px; }

div#banner {
  width: 100%;
  height: 160px;
  margin: auto;
  background-image: url("images/banner.jpg");
  background-position: 0px 0px; }

#content {
  padding: 10px 20px 50px 60px;
  width: 65%;
  min-width: 533px; }

#sidebar {
  float: right;
  width: 25%;
  height: 100%;
  text-align: center; }

#menu {
  background-color: #202080; }
  #menu ul {
    padding: 0px;
    margin: 0px; }
  #menu li {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px;
    border-right: 1px solid #6060D5; }
    #menu li a, #menu li span {
      color: #AEF13C;
      padding: 20px; }
  #menu li:hover {
    background-color: #3535D5; }
  #menu li.webgen-menu-item-selected {
    background-color: #3535D5; }
    #menu li.webgen-menu-item-selected a, #menu li.webgen-menu-item-selected span {
      color: #C0F16C; }

#menu {
  background-color: #202080; }
  #menu ul {
    padding: 0px;
    margin: 0px; }
  #menu li {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px;
    border-right: 1px solid #6060D5; }
    #menu li a, #menu li span {
      color: #AEF13C;
      padding: 20px; }
  #menu li:hover {
    background-color: #3535D5; }
  #menu li.webgen-menu-item-selected {
    background-color: #3535D5; }
    #menu li.webgen-menu-item-selected a, #menu li.webgen-menu-item-selected span {
      color: #C0F16C; }

#submenu {
  background-color: #DDD;
  width: 100px;
  float: right;
  padding: 10px; }
  #submenu li {
    margin: 0px; }

button {
    padding: 5px;
    margin: 5px 0 25px;
}

button a {
    color: black;
    font-weight: bold;
    font-size: 100%;
}

button a:hover {
    text-decoration: none;
}

.align-left {
    text-align: left;
}

iframe {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
/*  min-height: 1600px; */
}

#language input[type=radio] {
  margin-top: 10px;
  margin-right: 10px;
}
#language label {
  padding-left: 15px;
  cursor: pointer;
  font-size: 110%;
}
#language input[type=submit] {
  display:block;
  border-radius: 4px;
  border: 0;
  border: 1px solid mediumpurple;
  background-color: #fff;
  color: rgb(57, 34, 243);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
  display: inline-block;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  min-width: auto;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  z-index: 0;
  padding: 0 24px;
  margin-top: 15px;
  cursor: pointer;
}
#language input[type=submit]:hover {
  background-color: rgb(248, 245, 254);
}
#links {
  padding-right: 10px;
}
#links a {
  color: royalblue;
  display: block;
  margin-bottom: 10px;
}

#footer {
  clear: both;
}

#menupup-share #findus-fb, #menupup-share #findus-tw, #menupup-share #findus-yt, #menupup-share #findus-gp, #menupup-share #findus-vk, #menupup-share #findus-tg {
  background: url(images/all-btnz.png) no-repeat 0 0;
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  border-style: solid;
  border-color: #fff;
  border-width: 16px 4px;
}

#menupup-share #findus-fb {
  background-position:-32px -84px
}
#menupup-share #findus-tw {
  background-position:-64px -84px
}
#menupup-share #findus-yt {
  background-position:-96px -84px
}
#menupup-share #findus-gp {
  background-position:-128px -84px
}
#menupup-share #findus-vk {
  background-position:-256px -84px
}
#menupup-share #findus-tg {
  background-position:-288px -84px
}
